<div class='friend-profile'>
  <p>First Name: {{model.firstName}}</p>
  <p>Last Name: {{model.lastName}}</p>
  <p>Email: {{model.email}}</p>
  <p>Twitter: {{model.twitter}}</p>
  <p>{{link-to 'Edit' 'friends.edit' model}}</p>
  <p><a href='#' {{action "delete" model}}>Delete</a></p>
</div>
